<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/output.css">
    <link rel="stylesheet" href="/static/default.css">
    <title>403 - Forbidden</title>
  </head>
  <body>
    <%- include("../components/navbar.ejs") %>
    <%- include("../components/sidebar.ejs") %>
    <div class="sm:ml-80">
      <div class="sm:p-4">
        <div class="container">
          <h2 class="text-3xl">No Access</h2>
        </div>
      </div>
    </div>
  </body>
</html>