<%- include("../components/navbar.ejs") %>
<%- include("../components/sidebar.ejs") %>
<div class="sm:ml-80">
  <div class="sm:p-4">
    <div class="container">
      <h1 class="text-2xl">Hello admin</h1>
    </div>
  </div>
</div>
